@model CookingRecipeWebsite.Models.Recipe

@{
    ViewData["Title"] = @Model.Title;
}

<div class="cozy-card mx-auto mt-5" >
    <div class="card-body">
        <h1 class="cozy-title text-center">@Model.Title</h1>
        <div class="row">
            <div class="col-md-6">
                <img src="@Model.ImagePath" class="cozy-image img-fluid" alt="@Model.Title" style="animation-delay: 0.2s;" />
            </div>
            <div class="col-md-6">
                <div class="cozy-subcard mb-3" style="animation-delay: 0.4s;">
                    <h3 class="cozy-subtitle"><i class="bi bi-list-check me-2"></i>Nguyên liệu</h3>
                    <p class="cozy-content">@Model.Ingredients</p>
                </div>
                <div class="cozy-subcard" style="animation-delay: 0.4s;">
                    <h3 class="cozy-subtitle"><i class="bi bi-book me-2"></i>Hướng dẫn</h3>
                    <p class="cozy-content">@Model.Instructions</p>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <a href="@Url.Action("Index")" class="btn cozy-btn cozy-btn-register">Quay lại</a>
        </div>
    </div>
</div>